/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
!/public/index.php
!/public/.htaccess
!/public/favicon.ico
!/public/robots.txt
!/public/web.config
.env
.env.backup
.env.testing
.phpunit.result.cachegit
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea/*
_ide_helper.php
.php_cs.cache
.phpunit.result.cache
/config/ide-helper.php
.lando.yml
resources/views/index.blade.php
.phpstorm.meta.php
/.php_cs.cache
