
<!-- begin:: Content -->
<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">

	<!--[html-partial:begin:{"id":"demo1/dist/inc/view/demos/pages/index","page":"index"}]/-->

	<!--[html-partial:begin:{"id":"demo1/dist/inc/view/partials/content/dashboards/dashboard-1","page":"index"}]/-->

	<!--Begin::Dashboard 1-->


	<!--End::Dashboard 1-->

	<!--[html-partial:end:{"id":"demo1/dist/inc/view/partials/content/dashboards/dashboard-1","page":"index"}]/-->

	<!--[html-partial:end:{"id":"demo1/dist/inc/view/demos/pages/index","page":"index"}]/-->
</div>

<!-- end:: Content -->
